* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 25vh;
}

a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid rgba(105, 67, 114, 0.452);
    width: 100%;
    height: 15vh;
    background-color: rgb(207, 207, 207);
}

.logo {
    width: 7rem;
    margin-right: 6rem;
}

.logo__img {
    width: 100%;
    padding-left: 1rem;
}

.nav__lista {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    background-color: rgba(240, 255, 255, 0.555);
    height: 100vh;
    width: 12rem;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    justify-content: center;
    gap: 1rem;
    transition: transform 0.5s;
    z-index: 100;
    padding: auto 5%;
    align-items: center;
}

.nav__lista li a {
    font-family: 'Bebas Neue';
    font-size: 1.4rem;
}

.btn-open-sidebar {
    display: inline-block;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    color: black;
}

.btn-open-sidebar a:hover {
    color: bisque;
}

#sidebar:target {
    transform: translateX(0);
}


/* M A I N */
.contenedor__imgmain {
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    background-image: url(../images/imgprincipalmobile.jpeg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 18rem;
}

.contenedor__imgmain img {
    width: 100%;
}

.main__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main__texto h1 {
    margin-bottom: 0.8rem;
}

.main__texto p {
    margin-bottom: 1.8rem;
}

#boton a {
    border: 2px solid black;
    margin: auto;
    display: block;
    padding: 0.6rem 1.8rem;
    font-weight: bold;
    color: black;
    transition: .3s;
}

#boton a:hover {
    background-color: rgba(240, 248, 255, 0.178);
    color: bisque;
    border: 3px solid bisque;
}

.portafolio {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
}

.cat__portafolio {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    border:solid black;
    border-width: 1px;
    height: 40vh;
    width: 90vw;
    background-image: url(../images/catPortafolio.jpeg);
    background-size: cover;
}

.cat__portafolio a {
    color: bisque;
}

#cat__portafolio2 {
    background-image: url(../images/catPortafolio2.jpeg);
    background-size: cover;
    border-top: none;
}

#cat__portafolio3 {
    background-image: url(../images/catPortafolio3.jpeg);
    background-size: cover;
    border-top: none;
}

.overlay {
    height: 100%;
    width: 100%;
    transition: 2s ease;
    
}

.overlay a {
    transition: 1.5s ease;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay:hover {
    background-color: rgba(255, 255, 255, 0.774);
    color: black;
}
.overlay:hover a{
    color: black;
}

/* F O O T E R */
.footer {
    background-color: rgba(0, 0, 0, 0.637);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-top: 1px solid rgba(105, 67, 114, 0.452);
    color: beige;
}

.footer__rrss {
    padding-bottom: 1rem;
    font-size: 1.6rem;
    text-align: center;
}

.footer__rrss i{
    padding-left: 0.7rem;

}

.footer__texto {
    text-align: center;
}


.footer__texto h2 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

/* M E D I A   Q U E R Y S */

